{% extends 'base.html.twig' %}

{% block title %}
	Tasks
{% endblock %}

{% block body %}
	<div
		class="wrapper">
		{# Flash Messages #}
		{% for message in app.flashes('success') %}
			{% include "_flash.html.twig" with { type: 'success', message: message } %}
		{% endfor %}

		{% for message in app.flashes('error') %}
			{% include "_flash.html.twig" with { type: 'danger', message: message } %}
		{% endfor %}
		{# End Flash Messages #}
		<div class="task-list">
			<div class="task-list__title">
				<h1>All tasks</h1>
			</div>
			<div class="task-list__tasks">
				<ul>
					{% for task in tasks %}
						<li>
							<a href="{{ path('app_task_single', { id: task.id }) }}">{{ task.name }}</a>
						</li>
					{% else %}
						<div>Задания найдены не были</div>
					{% endfor %}
					{% if previous >= 0 %}
						+
						<a href="{{ path('app_task_list', { page: previous }) }}">Previous</a>
						+
					{% endif %}
					+
					{% if next < tasks|length %}
						+
						<a href="{{ path('app_task_list', { page: next }) }}">Next</a>
						+
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
