*.png


###> symfony/framework-bundle ###
/server/.env
/server/.env.test
/server/.env.local
/server/.env.local.php
/server/.env.*.local
/server/config/secrets/prod/prod.decrypt.private.php
/server/public/bundles/
/server/var/
/server/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/server/phpunit.xml
/server/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/server/.phpunit.result.cache
/server/phpunit.xml
/server/phpunit.xml.dist
###< symfony/phpunit-bridge ###

.vscode

###> data folder ###
/data
/nbproject/

###> migrations ###
/server/migrations/
