<code id="code-body" class="text-lg">
    <span class="hljs-meta">#<span class="hljs-keyword">include</span> <span
                class="hljs-string">&lt;iostream&gt;</span></span> <br/>
    <span class="hljs-keyword">using</span> <span class="hljs-keyword">namespace</span> std;<br/>
    <span class="hljs-function"><span class="hljs-type">int</span> <span class="hljs-title">main</span><span
                class="hljs-params">()</span> </span>{ <br/>
    <div class="indent">
        <span class="hljs-type">int</span> a, b; <br/>
        cin &gt;&gt; a &gt;&gt; b;<br/>
        <span class="hljs-type">int</span> sum = a + b;<br/>
        cout &lt;&lt; sum &lt;&lt; endl;<br/>
        <span class="hljs-keyword">return</span> <span class="hljs-number">0</span>;<br/>
    </div>
    <span>}</span>
</code>