<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %} — Olymp
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-neutral-800">
{# Header section #}
{% block header %}
    {{ include('_header.html.twig') }}
{% endblock %}

{# Content section #}
<main class="lg:container lg:mx-auto mx-5 lg:mt-48 md:mt-24 mt-16 text-white grow">
    {% block flash_messages %}
        {% include "_flash_cases.html.twig" %}
    {% endblock %}

    {% block body %}{% endblock %}
</main>

{# Footer #}
{% block footer %}
    {% include "_footer.html.twig" %}
{% endblock %}

{# Script section #}
{% block script %}{% endblock %}

<script src="/utils/mobile_menu.js"></script>
</body>
</html>
