{% if difficulty == 0 %}
    <p class="text-green-400">Easy</p>
{% elseif difficulty == 1 %}
    <p class="text-yellow-400">Medium</p>
{% elseif difficulty == 2 %}
    <p class="text-red-400">Hard</p>
{% else %}
    <p>Hard</p>
{% endif %}
