<table id="solution_status">
    <thead>
    <tr>
        <th>№</th>
        <th>Status</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
        <tr>
           <td>Loading...</td>
           <td>Loading...</td>
           <td>Loading...</td>
        </tr>
    </tbody>
</table>