/* Fonts */
@import "./fonts.css";

/* Import Tailwind CSS */
@import "tailwindcss";

/* Import TailwindCSS Custom Theme */
@import "./theme.css";

/* Specify the path to the views directory */
@source "../views";

/* Global Styles */
.fullscreen-editor {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 9999;
    background: #1e1e1e;
}

.fullscreen-editor .fullscreen-icon {
    position: fixed !important;
    top: 16px;
    right: 30px;
    z-index: 10001;
    cursor: pointer;
}
