{% extends 'base.html.twig' %}

{% block title %}
    Contest: {{ contest.name }}
{% endblock %}

{% block body %}
    <div class="wrapper" id="contest">
        <h1>{{ contest.name }}</h1>
        <div class="row">
            <div class="col-sm">From:</div>
            <div class="col-sm">{{ contest.startTime|date('Y-m-d H:i:s') }}</div>
        </div>
        <div class="row">
            <div class="col-sm">To:</div>
            <div class="col-sm">{{ contest.endTime|date('Y-m-d H:i:s') }}</div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="#" class="btn btn-primary">Add Task</a>
        {% endif %}
        <a class="btn btn-primary" href="/contest">Back</a>
    </div>
{% endblock %}
