{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="wrapper">
		<p>Olymp-platform is a unique project designed to host programming Olympiads. We have assembled a team of information technology professionals who have created this website to help young talents express themselves and show their programming skills.

		Our platform offers a variety of Olympiads in various technologies and programming languages that will help participants unlock their potential and improve their skills. We are constantly updating our platform to provide participants with the best conditions for participating in Olympiads and improving their knowledge in the field of programming.

		We believe that programming is one of the most important and promising areas in the modern world, and our mission is to help talented young people develop in this field. We are proud of our project and will be glad to see you among our participants!</p>
	</div>
{% endblock %}
