{% extends 'base.html.twig' %}

{% block title %}MSU Programming Contester: FAQ{% endblock %}

{% block body %}
    <div class="wrapper">
        <b>How do I register on the Olymp-platform website?</b> <br>
        <i>Answer:</i> To register on our website, go to the registration page 
        and fill in the required fields. We will send you a confirmation email. <br><br>

        <b>How do I choose an Olympiad to participate in?</b> <br>
        <i>Answer:</i> On the main page of our website you will find a list of 
        available Olympiads that you can choose according to your level of 
        training and preferences. <br><br>

        <b>What are the requirements for participation in the Olympiads?</b> <br>
        <i>Answer:</i> The requirements for participation may vary depending on 
        the specific Olympiad. However, in general, participants need to have 
        knowledge and experience in programming. <br><br>

        <b>What are the prizes for the winners of the Olympiads?</b> <br>
        <i>Answer:</i> Prizes may vary depending on the specific Olympiad. 
        Usually the winners are awarded cash and material prizes, 
        certificates and other awards.<br><br>

        <b>How often are the Olympiads held?</b> <br>
        <i>Answer:</i> We plan to hold Olympiads on a regular basis, usually 
        several times a year. By subscribing to our newsletter, you will always 
        be aware of our news and events.<br><br>

        <b>Is it possible to make a donation to our project?</b> <br>
        <i>Answer:</i>Yes, we accept donations from our users and are grateful 
        for any support for our project. You can contact us to get more 
        information on how to make a donation. <br><br>

    </div>
{% endblock %}
