{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="wrapper">
		<p><h1>Welcome!</h1> to the Programming Olympiads website! Here you will find a unique opportunity to participate in the most exciting and technically challenging programming competitions.

		We are proud to offer the participants of our Olympiads the highest possible level of tasks and a serious approach to preparation. Our team of experts - experienced programmers and teachers - is ready to offer you the highest level of training and support on the way to achieving your goals.</p>
	</div>
{% endblock %}
