{% extends 'base.html.twig' %}

{% block title %}MSU Programming Contester: Home{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Welcome!</h1>
        <p>to the Programming Olympiads website! Here you will
            find a unique opportunity to participate in the most exciting and
            technically challenging programming competitions.</p>

        <p>We are proud to offer the participants of our Olympiads the highest 
            possible level of tasks and a serious approach to preparation. Our 
            team of experts - experienced programmers and teachers - is ready to 
            offer you the highest level of training and support on the way to 
            achieving your goals.</p>
    </div>
{% endblock %}
